{
   "che_image_name": "{{ che_image_name }}",
   "che_image_tag": "{{ che_image_tag }}",
   "che_infra_kubernetes_pvc_strategy": "common",
   "che_infra_kubernetes_pvc_quantity": "1Gi",
   "che_secure_routes": {{ che_secure_routes }},
   "che_external_db": false,
   "che_jdbc_db_host": "postgres",
   "che_jdbc_db_port": "5432",
   "che_jdbc_db_name": "dbcodeready",
   "che_jdbc_username": "pgcodeready",
   "che_jdbc_password": "pgcodereadypassword",
   "external_keycloak": false,
   "external_keycloak_uri":"",
   "keycloak_provision_realm_user": true,
   "che_keycloak_admin_username": "admin",
   "che_keycloak_admin_password": "admin",
   "namespace": "{{ project_name }}",
   "che_keycloak_realm": "codeready",
   "che_keycloak_client__id": "codeready-public",
   "use_self_signed_cert": {{ use_self_signed_cert }},
   "enable_openshift_oauth": {{ enable_openshift_oauth }},
   "openshift_api_uri": "{{ openshift_api_uri }}",
   "che_http_proxy_java_options": "",
   "che_workspace_http_proxy": "",
   "che_workspace_https_proxy": "",
   "che_workspace_no_proxy": "",
}